:root{
    --primary-text-color:  #2E2F42;
    --secondary-text-color: #434455;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color:#2E2F42;
    --third-bg-color : #F4F4FD;
    --border-for-icons : #8E8F99 ;
    --accent:#4D5AE5;
    --accent-two:#404bbf;
    --accent-color-social : #31d0aa ;
    --button-shadow-color:rgba(0, 0, 0, 0.15);
    --elements-border-color: #E7E9FC;
    --active-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --card-shadow-color : 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    --card-set-gap-left: 24px;
    --card-set-gap-top :48px;
    --madal-bg-color :  #FCFCFC;
}

.container {
    
    max-width: 1157.9px;
    padding: 0 16px;
    margin: 0 auto;
} 

.mobile-menu{
    display: none;
}


.cont-info> .list{
    flex-direction: column;
    row-gap: 12px;
    
}

.cont-info-text{

    padding: 0;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.head-container{
    display: flex;
    justify-content: center;
    align-items: center;
}



.hero-tittle-mobile{
    display: none;
}



.feauters-icon{
    display: none;
}



.feauters-card-tittle{


   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;

}


 .feauters-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
 }

 .feauters-list .item {
    max-width: 396px;
    margin: 0;
    width: calc((100% - 24px) / 2);
 }


.feauters-card-text{
   
  font-weight: 500;
}

 
.projects{
    display: none;
}


.team-list{
    flex-wrap: wrap;
    row-gap: 64px;
    justify-content: center;
}

.team-card-content{
    width: calc((100% - 24px) / 2);
}

.team-photo{
    width: 100%;
}

.person-media-list{
    width: 100%;
    gap: 24px;
}


.customers-list{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.custom-card{
    height: 88px;
    width: calc((100% - 48px) / 3);
}



.footer-container{
    flex-wrap: wrap;
    gap: 24px;
  
    
}

.container-fix{
    width: 552px;
}

.footer-social, .footer-logo-text{
    margin: 0;
}

.footer-input{

    max-width: 264px ;
    opacity: 0.3;
}


/* ---------PORTFOLIO---------- */


.projects-card{
    flex-wrap: wrap;
    row-gap: 72px;
}

.project-card-content{
    width: calc((100% - 24px) / 2); ;
}


